* {
    font-family: 'Hina Mincho', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.navbar {
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 100, 0, 0.463);
    
}
.navbar .menu-horiz {
    display: none;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 50px;
}

.navbar a {
    color: rgb(16, 65, 26);
    font-size: 18px;
    margin-left: 20px;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar a:hover {
    color: rgb(96, 255, 11);
}

.navbar .navlinks ul {
    display: flex;
}

.navbar .navlinks ul li {
    margin:0 30px;

}


.hero {
background-image: url(../images/ghgreen2.png);
color: white;
text-align: center;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.hero-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-subheading {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
.hero .hero-button {
    background-color: rgb(45, 91, 19);
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.hero .hero-button:hover {
    background-color: rgb(27, 11, 255);
    color: white;
}

.form-section {
    padding: 60px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 25px;
    width: 100%;
    max-width: 400px;
}
.form-field label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.form-button {
    background-color: rgb(45, 91, 19);
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.form-button:hover {
    background-color: rgb(27, 11, 255);
    color: white;
}

@media (max-width: 630px) {
    .navbar .logo {
        font-size: 1em;
        margin-left: 0px;
    }
    .navlinks {
    position: absolute;
    display: flex;
    background-color: rgba(11, 224, 43, 0.26);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    margin-left: -100%;
    transition: all 0.5s ease;
    }
    .navbar .menu-horiz {
        display: block; 
        cursor: pointer;
    }
    .hero-heading {
        font-size: 2rem;
    }
    .hero-subheading {
        font-size: 1rem;
    }
    .navlinks.navlinks-new {
        margin-left: 0;
    }
   
}





























